body {
    background-color: rgb(190, 190, 248);
}
h2 {
    text-align: center;
    color: blue;
}
img {
    border: 10px double blue;
}
p:nth-of-type(odd) {
    color: blue;
    font-family: Arial;
    font-size: 20px;
}
#nobel {
    color: blueviolet;
}
#nobel a {
    color: red;
}
#nobel a:hover {
    color: green;
}