* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('cvece.jpg');
    background-position: center;
    background-size: cover;
    padding: 50px 10% 100px;
}

form label{
    font-size: 18px;
    display: block;
    margin: 25px 0 10px 0;
}
form input[type='radio']:checked, form input[type='checkbox']:checked {
    accent-color: blueviolet;
    border-radius: 5px;
}

form input[type='submit'], form input[type='reset'] {
    margin-top: 30px;
    padding: 4px;
    background-color:  blueviolet;
    color: white;
    border: 1px solid  blueviolet;
    border-radius: 4px;
}

form input[type='number'] {
    margin-bottom: 5px;
    padding: 1px 0;
}

#ispis {
    margin-top: 50px;
    padding: 20px 0;
}

#ispis p {
    font-size: 18px;
    margin: 20px 0;
}

#ispis, form label {
    color: rgb(145, 7, 145);
}

#ispis h2 {
    margin: 20px 0;
}

#ispis img {
    width: 60px;
    height: 60px;
    object-fit:cover;
    object-position: top;
    border-radius: 50%;
}